@import "@flaticon/flaticon-uicons/css/all/all";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito Sans", sans-serif;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.defaultInput {
  @apply border bg-transparent rounded-lg px-3 sm:px-4 py-2 sm:py-2.5 outline-none focus:border-custom-blue;
}

.defaultButton {
  @apply px-4 py-2.5 bg-custom-black rounded-lg text-white hover:bg-custom-blue transition-all duration-[.2s] border border-transparent outline-none focus:border-custom-blue;

  &.secondary {
    @apply bg-[#f6f8fa] text-custom-black border border-custom-black/50 focus:border-custom-blue hover:bg-custom-blue hover:text-white;
  }
}
